* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #313940;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.header {
  display: block;
  border-bottom: solid 1px;
  text-align: center;
  width: 100%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}

.header-title {
  font-size: 26px;
  line-height: 60px;
  font-weight: 400;
  color: azure;
}

.footer {
  display: inline-block;
  position: absolute;
  bottom: 0%;
  border-top: solid 1px;
  text-align: center;
  width: 100%;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);
}

.danik {
  display: block;
  width: 200px;
  height: 70px;
  margin-left: 3%;
  padding-left: 40px;
  background-image: url(dan.JPG);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 65px;
  color: #cbd5de;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  float: left;
}

.sob {
  display: block;
  width: 200px;
  height: 70px;
  margin-right: 2.5em;
  padding-right: 32px;
  background-image: url(dim.JPG);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: right;
  line-height: 65px;
  color: #cbd5de;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  float: right;
}

.assets .item {
  background-color: #24646d;
}
.assets {
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0em;
}

.item {
  width: 1024px;
  height: 2163px;
  display: inline-block;
  border-radius: 20px;
}

.metka {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: rgb(0, 0, 0);
  padding-top: 10px;
  text-shadow: cornsilk 1px 1px 3px;
}

.round {
  border-radius: 20px;
  box-shadow: 0px 0px 19px #24646d;
}

.metka-glav {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: rgb(229, 255, 0);
  padding-top: 10px;
  text-shadow: cornsilk 1px 1px 3px;
}
